<div class="grid mobile-div">
  <div class="grid-cell-lg">
    <h1 class="uppercase-text bottom-margin" id="contact">Contact</h1>
    <hr class="divider">
  </div>
  <div class="grid-cell-lg">
    <h3 class="centered-text important">Drop me a line and let's create something together!</h3>
  </div>
  <div class="grid-cell-lg">
    <div class="input">
      <input class="input-lg" type="text" placeholder="Name" id="name">
    </div>
    <div class="input">
      <input class="input-lg" type="email" placeholder="Email" id="email">
    </div>
    <div class="input">
      <input class="input-lg" type="text" placeholder="Message" id="message">
    </div>
    <br>
    <div class="grid is-centered">
      <a class="button submit">Submit</a>
    </div>
  </div>
</div>