  <div class="grid is-centered">
    <div class="grid-cell-lg header centered-text">
      <div id="banner-text">
        Justin Klaas
      </div>
       <div class="grid">
        <div class="grid-cell-lg centered-text top-margin">
          <h3>Simplified design and attention to detail. I'll make sure your next project performs the best it can!</h3>
        </div>
      </div>
      <div class="bottom-margin-bigger"></div>
      <div id="navbar" class="grid-cell-lg is-spaced desktop-nav">
        <a class="nav-links link" href="/">About Me</a>
        <a class="nav-links link" href="#portfolio-desktop">Portfolio</a>
        <a class="nav-links link" href="#contact">Contact</a>
      </div>
      <div class="grid-cell-lg is-spaced mobile-nav">
        <a class="nav-links link" href="/">About Me</a>
        <a class="nav-links link" href="#portfolio">Portfolio</a>
        <a class="nav-links link" href="#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="top-margin"></div>