<div class="grid mobile-div">
  <div class="grid-cell-lg important centered-text">
    <h3>All Projects</h3><br>
   {{#each allProjects}}
   <a class="link important" href="/portfolio/{{id}}">{{name}}<br><br></a>
   {{/each}}
  </div>
</div>