<div class="grid">
  <div id="mobile-nav-banner" class="grid-cell-lg centered-text">
    Justin Klaas
  </div>
</div>
<div class="grid is-desktop">
  <div class="grid-cell-lg is-spaced">
    <a class="standard-link important" href="/"><h3>About Me</h3></a>
    <a class="standard-link important" href="/portfolio"><h3>Portfolio</h3></a>
    <a class="standard-link important" href="/contact"><h3>Contact</h3></a>
  </div>
  <div class="grid-cell-lg important centered-text is-spaced">
    <div>
      {{!-- {{#each allProjects}}
   <a class="link important" href="/portfolio/{{id}}">{{name}}<br><br></a>
   {{/each}} --}}
    </div>
  </div>
</div>
<div class="grid mobile-div">
  <div class="grid-cell-lg is-spaced">
    <a class="standard-link important" href="/">About Me</a>
    <a class="standard-link important" href="#portfolio">Portfolio</a>
    <a class="standard-link important" href="#contact">Contact</a>
  </div>
  <div class="grid-cell-lg important centered-text is-spaced">
    <div>
      {{!-- {{#each allProjects}}
   <a class="link important" href="/portfolio/{{id}}">{{name}}<br><br></a>
   {{/each}} --}}
    </div>
  </div>
</div>