<div class="grid mobile-div">
  <div class="grid-cell-lg important centered-text">
   {{#each allProjects}}
   <i class="fas fa-arrow-circle-right"></i><a class="link important" href="">{{name}}<br><br></a>
   {{/each}}
  </div>
</div>