<!DOCTYPE html>
<html lang="en-us">

<head>
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!--Devicon-->
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <!--Custom Stylesheet-->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>About Me</title>
</head>

<body>
  <div id="modal" class="grid">
    <div id="modal-close" type="button">
      <i class="fas fa-times"></i>
    </div>
    <div class="modal-content grid-cell-lg centered-text card">
      <h1 id="pass-or-fail"></h1>
      <p id="info"></p>
    </div>
  </div>
  <div class="grid is-centered">
    <div class="grid-cell-lg header centered-text">
      <div id="banner-text">
        Justin Klaas
      </div>
       <div class="grid">
        <div class="grid-cell-lg centered-text top-margin is-desktop">
          <h3>Simplified design and attention to detail. I'll make sure your next project performs the best it can!</h3>
        </div>
      </div>
      <div class="bottom-margin-bigger"></div>
      <div id="navbar" class="grid-cell-lg is-spaced desktop-nav">
        <a class="nav-links link" href="/">About Me</a>
        <a class="nav-links link" href="/portfolio/#portfolio">Portfolio</a>
        <a class="nav-links link" href="/contact/#contact">Contact</a>
      </div>
      <div class="grid-cell-lg is-spaced mobile-nav">
        <a class="nav-links link" href="/">About Me</a>
        <a class="nav-links link" href="#portfolio">Portfolio</a>
        <a class="nav-links link" href="#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="top-margin"></div>
  <div class="body-wrapper">
  {{{body}}}
    <div class="grid top-margin-bigger">
      <div class="grid-cell-lg is-centered uppercase important footer">
        <br><br>
        <div class="grid-cell-sm">
          <h3>Want to See More?</h3>
        </div>
        <div class="grid-cell-sm is-centered">
          <i class="fas fa-hand-point-right text-is-bigger"></i>
        </div>
        <div class="grid-cell-sm is-spaced">
          <a class="standard-link important" href="#" target="_blank">
            <i class="fab fa-github-square text-is-bigger"></i>
          </a>
          <a class="standard-link important" href="#" target="_blank">
            <i class="fab fa-bandcamp text-is-bigger"></i>
          </a>
          <a class="standard-link important" href="#" target="_blank">
            <i class="fab fa-linkedin text-is-bigger"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--Custom Javascript-->
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="/assets/javascript/main.js"></script>
  <script src="/assets/javascript/contact.js"></script>
</body>

</html>