<div class="grid">
  <div class="grid-cell-md">
    <h1 class="uppercase-text bottom-margin">Who Am I?</h1>
    <hr class="divider bottom-margin">
    <div class="bottom-margin">
      <h3 class="centered-text important">A full-stack developer ready to make your vision come to life.</h3>
    </div>
    <p class="indent-text important">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa debitis ducimus
      tempore cumque unde delectus! Magni iste illo voluptatum ipsa? Quia earum officiis alias delectus odio totam
      dicta consectetur ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, minus! Provident, ex? Ut
      est accusantium hic praesentium itaque iste, voluptates voluptatem ipsam culpa tempore velit facilis, ratione
      eum pariatur dolor.</p>
    <p class="indent-text important">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, ratione porro ipsa fugiat perferendis fuga
      fugit sunt rerum ipsam doloribus praesentium vero tempore, natus incidunt nulla tempora sed impedit optio. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Fuga corporis eum id eos omnis consequatur aut numquam
      quaerat quam! Nobis quidem praesentium atque et quaerat dolore aspernatur, beatae fuga quo!
    </p>
  </div>
  <div class="grid-cell-md is-centered">
    <img id="bio-pic" class="" src="./assets/images/profile-img.jpg" alt="">
  </div>
</div>
<div class="grid mobile-div">
  <div class="grid-cell-lg">
    <h1 class="uppercase-text bottom-margin" id="portfolio">Portfolio</h1>
    <hr class="divider">
  </div>
  <div class="grid-cell-lg">
    <h3 class="centered-text important">Current and Past Projects</h3>
  </div>
  <div class="grid-cell-lg">
    <ul class="no-list-style important centered-text">
      {{#each allProjects}}
      <a id="{{id}}" class="standard-link important is-clickable" href="/portfolio/{{id}}">
        <p>{{name}}</p>
      </a>
      {{/each}}
    </ul>
  </div>
  <div class="grid-cell-lg">
    <h4 class="important centered-text">Technologies in which I am proficient:</h4>
  </div>
  <div class="grid-cell-lg">
    <ul class="no-list-style important centered-text">
      <li><i class="fab fa-js-square"></i> Javascript</li>
      <li><i class="fab fa-node-js"></i></i> Node</li>
      <li><i class="fas fa-database"></i> MySQL</li>
      <li><i class="fab fa-css3-alt"></i> CSS 3</li>
      <!-- <li><i class="devicon-express-original-wordmark"></i></li>
        <li><i class="devicon-express-original-wordmark"></i></li>
        <li><i class="devicon-express-original-wordmark"></i></li> -->
    </ul>
  </div>
</div>
{{>contact}}