 {{>project-nav}}
 <div class="body-wrapper">
 <div class="grid">
    {{>contact-form}}
    <div class="grid-cell-md is-centered contact-img contact-desktop is-desktop">
      <div id="speech-bubble">
        <div id="bubble-caption">
          <i class="fas fa-comment"></i>
          <div id="bubble-text" class="text-is-strong">Thanks<br>for<br>considering me!</div>
        </div>
      </div>
    </div>
  </div>
  </div>