*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid-gutter: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--grid-gutter) * .25);
  margin-left: calc(var(--grid-gutter) * .25);
  margin-bottom: calc(var(--grid-gutter) * 1);
}

.grid-center {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--grid-gutter) * 1);
  margin-left: calc(var(--grid-gutter) * 1);
}

.grid-cell-lg {
  width: 100%;
  margin-bottom: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-sm {
  width: 25%;
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-md {
  width: 50%;
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-sm,
.grid-cell-md,
.grid-cell-lg {
  font-family: 'Roboto';
}

.is-spaced {
  display: flex;
  justify-content: space-evenly;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-item {
  max-width: 50%;
}

@media only screen and (max-width: 700px) {
    .grid-cell-sm {
      width: 100%;
      margin-bottom: 20px;
    }
    .grid-cell-md {
      width: 100%;
      margin-bottom: 20px;
    }
  }