/* @import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
font-family: 'Bungee-Shade';
src: url('../fonts/Bungee-Shade.otf');
}

body {
  max-width: 960px;
  margin: 0 auto;
}

#modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0; 
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(117, 117, 117, 0.3);
}

.modal-content {
  background-color: gray;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  color: white;
}

#modal-close {
  display: flex;
  justify-content: flex-end;
}

@keyframes fadein {
  from {
    border-color: rgba(158, 158, 158, 0.3);
    background-color: none;
  }
  to {
    border-color: rgb(255, 255, 255);
    background-color: rgba(158, 158, 158, 0.3);
  }
}

.link:hover {
  animation: 1s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

.nav-links {
  padding: 20px;
  display: inline;
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.header {
  background: url(../images/skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

.divider {
  border: 2px black solid;
}

.important {
  color: gray;
}

.indent-text {
  text-indent: 35px;
}

.text-is-strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.border-top {
  border-top: 4px black solid;
}

.fa-hand-pointer {
  transform: rotate(90deg);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25em;
}

.fa-times {
  margin: 10px 25px 0 0;
  font-size: 1.5em;
  cursor: pointer;
}

.no-list-style {
  list-style: none;
}

#bio-pic {
  width: 450px;
  height: auto;
}

#banner-text {
  font-family: 'Bungee-Shade';
  font-size: 60px;
}

.centered-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

@media only screen and (min-width: 701px) {
  .bio-mobile {
    display: none;
  }
  .mobile-div {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  #banner-text {
    font-size: 50px;
  }
  .nav-links {
    font-size: 20px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .mobile-div {
    display: block;
  }
  .footer {
    display: none;
  }
  .button {
    width: 100%;
  }
  #bio-pic {
    width: 100%;
  }
}