/**

===========================================
                 Imports
===========================================

**/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@font-face {
font-family: 'Bungee-Shade';
src: url('../fonts/Bungee-Shade.otf');
}

/**

===========================================
      Grid - Created by Justin Klaas
===========================================

**/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid-gutter: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--grid-gutter) * .25);
  margin-left: calc(var(--grid-gutter) * .25);
  margin-bottom: calc(var(--grid-gutter) * 1);
}

.grid-center {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--grid-gutter) * 1);
  margin-left: calc(var(--grid-gutter) * 1);
}

.grid-cell-lg {
  width: 100%;
  margin-bottom: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-md {
  width: 50%;
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-sm {
  width: 25%;
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
}

.grid-cell-sm,
.grid-cell-md,
.grid-cell-lg {
  font-family: 'Roboto';
}

.is-spaced {
  display: flex;
  justify-content: space-evenly;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-item {
  max-width: 50%;
}

@media only screen and (max-width: 700px) {
    .grid-cell-sm {
      width: 100%;
      margin-bottom: 20px;
    }
    .grid-cell-md {
      width: 100%;
      margin-bottom: 20px;
    }
  }

/**

===========================================
      Cards - Created by Justin Klaas
===========================================

**/

.hero {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 0px 0px 5px 5px;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/**

===========================================
     Buttons - Created by Justin Klaas
===========================================

**/

.button {
  width: 100px;
  padding: 10px;
  border-radius: 0px;
  font-family: 'Roboto';
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #628CC0;
  box-shadow: 0 2.5px 2.5px rgba(0,0,0,0.19), 0 1.5px 1.5px rgba(0,0,0,0.23);
}

.button:hover {
  background-color: rgb(110, 148, 194);
}

.button:active {
  box-shadow: none;
}

/**

===========================================
      Forms - Created by Justin Klaas
===========================================

**/

.input {
  padding: 20px;
}

.input-lg {
  height: 40px;  
  width: 100%;
  padding: 15px 0 15px 0;
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1.5px solid gray;
  border-radius: 0;
  background: transparent;
  font-family: 'Roboto';
  font-size: 14px;
}

.input-md {
  height: 40px;  
  width: 50%;
  padding: 15px 0 15px 0;
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1.5px solid gray;
  border-radius: 0;
  background: transparent;
}

.input-sm {
  height: 40px;  
  width: 25%;
  padding: 15px 0 15px 0;
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1.5px solid gray;
  border-radius: 0;
  background: transparent;
}

.input-lg:focus {
    border-color: #628CC0;
}

.input-lg::placeholder {
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: left;
}

/**

===========================================
      Main - Created by Justin Klaas
===========================================

**/

.body-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.sticky {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
}

#modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0; 
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(117, 117, 117, 0.3);
}

.modal-content {
  background-color: gray;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  color: white;
  border-radius: 3px;
  border: 2px rgb(100, 100, 100) solid;
}

#modal-close {
  display: flex;
  justify-content: flex-end;
}

@keyframes fadein {
  from {
    border-color: rgba(158, 158, 158, 0.3);
    background-color: none;
    color: rgb(58, 58, 58);
    border: 2px solid rgb(58, 58, 58);
  }
  to {
    border-color: rgb(255, 255, 255);
    background-color: rgba(158, 158, 158, 0.3);
    color: white;
    border: 2px solid white;
  }
}

.button {
  width: 100%;
  cursor: pointer;
}

.is-clickable {
  cursor: pointer;
}

.standard-link {
  text-decoration: none;
}

.standard-link-alternate {
  text-decoration: none;
  color: #628CC0;
}

.standard-link:hover {
  color: rgb(172, 169, 169);
}

.standard-link-alternate:hover {
  color: rgb(110, 148, 194);
}

.link:hover {
  animation: 1s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

.nav-links {
  padding: 20px;
  display: inline;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(58, 58, 58);
  border: 2px solid rgb(58, 58, 58);
  border-radius: 3px;
  /* border-bottom: 2px solid transparent; */
}

.header {
  background: url(../images/skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
  height: 1000px;
}

.divider {
  border: 2px rgb(58, 58, 58) solid;
}

.top-margin {
  margin-top: 60px;
}

.top-margin-bigger {
  margin-top: 80px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.bottom-margin-bigger {
  margin-bottom: 40px;
}

.important {
  color: gray;
}

.underline {
  text-decoration: underline;
}

.important-alternate {
  color: #628CC0;
}

.indent-text {
  text-indent: 35px;
}

.text-is-strong {
  font-weight: bold;
}

.text-is-bigger {
  font-size: 2em;
}

.uppercase {
  text-transform: uppercase;
}

.border-top {
  border-top: 4px black solid;
}

.fa-arrow-circle-right {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25em;
}

.fa-times {
  margin: 10px 25px 0 0;
  font-size: 1.5em;
  cursor: pointer;
}

.no-list-style {
  list-style: none;
}

#bio-pic, #gallery-img {
  width: 450px;
  height: auto;
}

#hover-img {
  height: 450px;
}

.is-hidden {
  display: none;
}

.contact-img {
  background: url(../images/contactpic.jpg);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
}

#speech-bubble {
  position: relative;
  left: 125px;
  top: -25px;
  height: 150px;
  width: 150px;
  background-size: 200px;
  background-repeat: no-repeat;
  z-index: 1;
}

#bubble-caption {
  position: relative;
  top: 15px;
  left: 35px;
  font-size: 10em;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#bubble-text {
  position: relative;
  bottom: 140px;
  left: 20px;
  color: black;
  font-family: 'Permanent Marker';
  font-size: 16px;
  z-index: 1;
  text-shadow: none;
}

#banner-text {
  line-height: 10rem;
  font-family: 'Bungee-Shade';
  font-size: 150px;
  color: white;
  z-index: 1;
}

.centered-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  #banner-text {
    font-size: 175px;
  }
}

@media only screen and (min-width: 701px) {
  .bio-mobile {
    display: none;
  }
  .mobile-div {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0 auto;
    width: 100%;
  }

  .is-desktop {
    display: none;
  }

  #banner-text {
    line-height: 5rem;
    font-size: 50px;
  }

  .header {
    height: 500px;
  }
  .contact-desktop {
    height: 450px;
    width: 100%;
  }
  .nav-links {
    font-size: 20px;
    border: none;
  }

  .link:hover {
    animation: none;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
  
  .mobile-div {
    display: block;
  }

  .footer {
    display: none;
  }

  #bio-pic, #gallery-img {
    width: 100%;
  }

}