@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  max-width: 960px;
  margin: 0 auto;
}

@keyframes fadein {
  from {
    border-color: rgba(158, 158, 158, 0.3);
    background-color: none;
  }
  to {
    border-color: rgb(255, 255, 255);
    background-color: rgba(158, 158, 158, 0.3);
  }
}

.link:hover {
  animation: 2s;
  animation-name: fadein;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  /* background-color: rgba(158, 158, 158, 0.3); */
}

.nav-links {
  padding: 20px;
  display: inline;
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.header {
  background: url(../images/skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

.divider {
  border: 2px black solid;
}

.important {
  color: gray;
}

.indent-text {
  text-indent: 35px;
}

.text-is-strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.border-top {
  border-top: 4px black solid;
}

.fa-hand-pointer {
  transform: rotate(90deg);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25em;
}

.footer {
  font-family: 'Bungee Shade';
}

.no-list-style {
  list-style: none;
}
/* 
p {
  margin: 0 20px 0 20px;
} */

#bio-pic {
  width: 450px;
  height: auto;
  /* border: 2px solid gray; */
}

#banner-text {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}

#first-name,
#last-name p {
  color: lightcoral;
}

.social {
  font-size: 3em;
}

navbar {
  display: none;
}

navbar li {
  display: inline;
  list-style: none;
  padding: 20px;
  font-family: 'Raleway', serif;
  font-size: 20px;
}

.centered-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

@media only screen and (min-width: 701px) {
  .bio-mobile {
    display: none;
  }
  .mobile-div {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  .nav-links {
    font-size: 20px;
  }
  .mobile-div {
    display: block;
  }
  .footer {
    display: none;
  }
  .button {
    width: 100%;
  }
  #banner-text {
    font-size: 50px;
    padding: 0;
  }

  .social {
    margin-top: 70px;
  }

  #bio-pic {
    width: 100%;
  }

  .bio-mobile {
    display: show;
  }
}