body {
  margin: 0 auto;
  max-width: 960px;
}

.row .col {
  padding: 0 !important;
}

.nav {
  background: url(../images/bio-banner.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 500px;
  border-bottom: 5px grey solid;
}

.nav #banner-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}

#first-name p {
  color: brown;
}

#last-name p {
  color: lightseagreen;
}

navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

navbar li {
  display: inline;
  list-style: none;
  padding: 35px;
  font-family: 'Raleway', serif;
  font-size: 20px;
}

a {
  color: lightseagreen !important;
}

a:hover {
  color: lightsalmon !important;
}

.main-content p {
  font-family: 'Raleway', serif;
}

.main-content h1 {
  background-color: grey;
  color: white;
  padding: 10px;
} 