body {
  margin: 0 auto !important;
  max-width: 960px;
}

.header {
  background: url(../images/bio-banner.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 500px;
  border-bottom: 5px grey solid;
}

#banner-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}

#first-name, #last-name p {
  color: lightcoral;
}

.social {
  font-size: 3em;
}


navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

navbar li {
  display: inline;
  list-style: none;
  padding: 20px;
  font-family: 'Raleway', serif;
  font-size: 20px;
}

.nav-link {
  color: lightseagreen;
}

.nav-link:hover {
  color: lightcoral;
}

.main-content p {
  font-family: 'Raleway', serif;
}

.main-content h3 {
  background-color: grey;
  color: white;
  padding: 10px;
}

.main-content h2 {
  background-color: lightseagreen;
  color: white;
  padding: 10px;
}

.c1 {
  background: url(../images/dnd.jpg);
  background-size: cover;
}

.c2 {
  background: url(../images/blueline.jpg);
  background-size: cover;
}

.c3 {
  background: url(../images/thenational.jpeg);
  background-size: cover;
}

.contact-img {
  width: 100%;
  height: auto;
}

#contact-form {
  margin: 30px;
}

@media only screen and (max-width: 900px) {
  #banner-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    padding: 0;
  }

  navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: 'Raleway', serif;
    font-size: 20px;
    padding: 5px;
  }
}

